.gallery {
  display: flex;
  flex-wrap: nowrap;
  background-color: brown;
  width: 100vw;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
}

.gallery__items {
  margin-bottom: 10px;
  margin-right: 10px;
  list-style: none;
  width: auto;
}
.gallery__image {
  width: 30vw;
  height: 30vh;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
